:root {
    --subway-color: #008F4B;
    --hokushin-color: #B4532A;
    --hk-kobe-color: #0062B1;
    --hk-takarazuka-color: #EC5902;
    --hk-kyoto-color: #1EB118;
    --nose-color: #377d46;
    --sakaisuji-color: #875440;
    --hanshin-color: #1f64b1;
    --sanyo-color: #d0101a;
}

.lcd-main {
    height: 360px;
    width: 640px;
    white-space: nowrap;
    perspective: 20px;
    margin: auto;
}

.ja, .hg { 
    font-family: 'Noto Sans JP';
    /* font-family: 'BIZ UDGothic'; */
}
.en { font-family: 'Noto Sans JP'; }
.zh { font-family: 'Noto Sans SC';}
.ko { font-family: 'Noto Sans KR'; }

.tmp {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

#sta-6-name-tmp {
    padding: 0;
    position: relative;
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: end;
    width: 50px;
    /* height: 100px; */
    font-family: 'Noto Sans JP';
}

#sta-6-name-en-tmp {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 auto;
    position: absolute;
    bottom: 0;
    writing-mode: vertical-rl;
    font-family: 'Noto Sans JP';
}

#sta-6-name-zh-tmp {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 auto;
    position: absolute;
    bottom: 0;
    writing-mode: vertical-rl;
    font-family: 'Noto Sans SC'
}

#sta-6-name-ko-tmp {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 auto;
    position: absolute;
    bottom: 0;
    writing-mode: vertical-rl;
    font-family: 'Noto Sans KR';
}

.none {
    opacity: 0;
}